.textInput {
  display: block;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #000;
  padding: 15px 25px;
  margin-bottom: 0.5rem;
  background-color: transparent;
}

.textArea {
  height: 275px;
  resize: none;
}

.textInput::placeholder {
  color: rgba(0, 0, 0, 0, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.errorMessage {
  color: #fc6e6e;
  font-size: 14px;
  margin-left: 26px;
}

.checkboxLabel {
  font-size: 12px;
  line-height: 1;
}

.checkboxField {
  height: 12px;
  background-color: transparent;
}
